
<html>
  <head>
    <title>
      Library managemment
    </title>
  </head>
  <body>
    <div class="container">
      <h3>Books' Status</h3>
      <input type="radio" id="radiobtn" name="search" value="acno">
      <label for="radiobtn">Acc No.</label>
      <input type="radio" id="radiobtn" name="search" value="title">
      <label for="radiobtn">Title</label>
      <input type="radio" id="radiobtn" name="search" value="author">
      <label for="radiobtn">Author</label>
      <input type="radio" id="radiobtn" name="search" value="isbn">
      <label for="radiobtn">ISBN Number</label><br>
      <form action="/form/submit" method="GET">
        <input type="text" name="text" class="search">
        <button class="submit"><i class="fa fa-search"></i> Search</button>
      </form>
    </div>
  </body>
</html>