.container{
    background-color: rgb(249, 245, 245);
    font: 1em sans-serif;
    border-radius: 20px;
    padding: 40px;
    padding-left: 50px;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}

#radiobtn
{
    margin-left: 20px;
    margin-right: 8px;
    border-style: dashed;
    accent-color: rgb(0, 213, 18);
   
    
}

.search
{
    border: 1px white;
    border-radius: 4px;
    margin-top: 20px;
    padding-left: 200px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow:  0 0 4px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 4px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 4px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 4px  rgba(0,0,0,0.6);
}

.submit
{
    font-size: small;
    background-color: rgba(5, 58, 39, 0.773);
    border-radius: 4px;
    margin-left: 60px;
    padding-left: 40px;
    padding-bottom: 8px;
    padding: 8px 35px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    
    
}

.submit:hover{
    background-color: rgb(0, 158, 142) ;
}

